<html>
<body>
<div id="all">
<div id="getDate">
  <vuejs-datepicker v-model="StartDate" :value="this.default" :format="DatePickerFormat" ></vuejs-datepicker>
    <vuejs-datepicker v-model="EndDate" :format="DatePickerFormat"></vuejs-datepicker>
<p>
  {{ DateFormat(StartDate) }}
  {{ DateFormat(EndDate) }}
</p>
<p>{{ PeriodCalc() }}</p>
</div>
<div id="calendar">
  {{ Year }}
  {{ Month }}
  {{ Day }}
  <hr>
  <table border="1" id="headtable">
    <thead>
      <tr>
        <td id="headyear" v-for="year in Year">{{ year }}</td>
      </tr>
      <tr>
        <td id="headmonth" v-for="month in Month">{{ month }}</td>
      </tr>
      <tr>
        <td id="headday" v-for="day in Day">{{ day }}</td>
      </tr>
    </thead>
  </table>
</div>
<style>
body{
  width:500px;
  height:400px;
  background-color: lightblue;
}
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/locale/ja.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://unpkg.com/vuejs-datepicker"></script>
</div>
  <script>
    var getDate = new Vue({
  el: '#getDate',
  data: {
    default:moment(),
    DatePickerFormat: 'yyyy/MM/dd',
    StartDate:'',
    EndDate:'',
    Period:0,
    MonthPeriod:0,
    YearPeriod:0,
    Year:[],
    Day:[],
    Daycount:[],
    Month:[]
  },
  methods:{
    DateFormat:function(date){
      return moment(date).format('YYYY/MM/DD')
    },
    MomentFormat:function(date){
      return moment(date)
    },
    PeriodCalc:function(stdate,endate){
      if(this.StartDate!=='' && this.EndDate!==''){
        console.log('Period Calc')
        this.Period = moment(this.EndDate).diff(moment(this.StartDate),'days')
        this.PeriodSet = true
        this.setYear()
        this.setMonth()
        this.setDate()
        writeCalendar.setYear(this.Year)
        writeCalendar.setMonth(this.Month)
        writeCalendar.setDate(this.Day)
        return this.Period
      }
    },
    setYear:function(){
      this.YearPeriod = moment(this.EndDate).diff(moment(this.StartDate),'year')
      for(var i=0;i<=this.YearPeriod;i++){
        this.Year[i] = moment(this.StartDate).add(i,'year').year()
      }
      console.log(this.Year)
      console.log(this.Year.length)
    },
    setMonth:function(){
      this.MonthPeriod = moment(this.EndDate).diff(moment(this.StartDate),'month')
      for(var i=0;i<=this.MonthPeriod;i++){
       this.Month[i] = moment(this.StartDate).add(i,'month').month() + 1
      }
      console.log(this.Month)
      console.log(this.Month.length)
    },
    
    setDate:function(){
      for(var i=0;i<=this.Period;i++){
       this.Day[i] = moment(this.StartDate).add(i,'days').date()
      }
      console.log(this.Day)
      console.log(this.Day.length)
    },
  },
  components: {
    vuejsDatepicker
  }
});
    
    
    
  </script>
</body>
</html>
